:80 {
    root * /www/wwwroot/default
    file_server
    php_fastcgi 127.0.0.1:9000
    log {
        output stdout
    }
    handle_errors {
	    rewrite * /{http.error.status_code}.html
    }
}
import /www/config/*